body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 20px 0 0 0; /* Ajout de padding en haut */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligner le contenu au début de la page */
  height: 100vh;
  box-sizing: border-box; /* Inclure le padding dans la hauteur totale */
}

#auth-container, #commercial-dashboard, #admin-dashboard {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 600px;
  box-sizing: border-box; /* S'assurer que le padding n'affecte pas la largeur */
}

h2 {
  margin-top: 0;
}

input {
  display: block;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
